# dot files
.DS_Store

# Node.js
node_modules
yarn.lock

# TSC
tsconfig.tsbuildinfo

# Scaffold
.env
.scaffold
build
logs

.codex-logs
.claude
dev
copilot-instructions.md
addon/content/scripts
addon/content/integration
integrations
