item-pane-sidenav .btn[data-pane$="-multilingual"] {
  fill: #2ec24e;
  stroke: #2ec24e;
}

collapsible-section[data-pane$="-multilingual"] > .head .title::before {
  fill: #2ec24e;
  stroke: #2ec24e;
}

#banyan-multilingual-body {
  display: flex;
  flex-direction: column;
  padding-inline-start: 12px;
}

#banyan-multilingual-body > .row {
  padding-block: 2px;
  display: flex;
  gap: 4px;
  align-items: flex-start;
}

#banyan-multilingual-body > .row > .box {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding-inline-start: 4px;
  overflow: hidden;
  border-radius: 5px;
  flex: 1;
}

#banyan-multilingual-body > .row .box:not([disabled]):hover {
  background-color: var(--fill-quinary);
}

#banyan-multilingual-body > .row > .box > .icon {
  height: calc(1.3333333333 * var(--zotero-font-size));
  padding-top: 0.25em;
}

#banyan-multilingual-body > .row > .box > .label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  width: 0;
  flex: 1;
  overflow: hidden;
  padding-block: 2px;
}

#banyan-multilingual-body > .row > toolbarbutton {
  margin-inline-start: auto;
}

#banyan-multilingual-body > .row > toolbarbutton > image {
  visibility: hidden;
}

#banyan-multilingual-body
  > .row:is(:hover, :focus-within)
  > toolbarbutton
  > image {
  visibility: visible;
}
